<div class="header pb-7 pt-5 pt-lg-8 align-items-center"
    style="min-height: 210px; background-image: url(https://munichaclacayo.gob.pe/portals/slider/imagenes/1.jpg); background-size: cover; background-position: center top;">
</div>
<div class="letra container mt--9 mb-3">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <div class="card card-profile shadow mb-5">
                <h5 class="m-3 font-weight-bold mb-3 d-flex justify-content-center">
                    NÓMINA DE MIEMBROS</h5>
                <div class="row justify-content-center">
                    <span style="font-size: 8rem;"><i class="fa-solid fa-users"></i></span>
                </div>
                <div class="card-body bg-white">
                    <div class="col-11" style="gap: 1rem;">
                        <div class="row d-flex">
                            <div class="col-sm-12 row">
                                <div class="p-2 ">
                                    <strong>DATOS:</strong>
                                </div>
                                <div class="p-1">
                                    <input type="text" class="form-control form-control-sm form-control-alternative "
                                        style="font-size: 16px; width: 6rem;" placeholder="DNI">
                                </div>
                                <div class="p-1">
                                    <input type="text" class="form-control form-control-sm form-control-alternative"
                                        style="font-size: 16px; width: 16rem;" placeholder="DIRECCION">
                                </div>
                                <div class="p-1">
                                    <button type="button"
                                        class="font-weight-bold btn btn-success btn-sm col-sm-12">AGREGAR</button>
                                </div>
                                <div class="p-1">
                                    <button type="button" class="font-weight-bold btn btn-warning text-white btn-sm col-sm-11 ml-3"
                                        >IMPORTAR
                                        EXCEL</button>
                                </div>
                                <div class="text-center">
                                    <div class="col-md-12">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                  
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead class="col-tabla text-white">
                                            <tr>
                                                <th class="text-center" scope="col">NOMBRES</th>
                                                <th class="text-center" scope="col">APELLIDO PATERNO</th>
                                                <th class="text-center" scope="col">APELLIDO MATERNO</th>
                                                <th class="text-center" scope="col">DIRECCION</th>
                                                <th class="text-center" scope="col">DNI</th>
                                                <th class="text-center" scope="col">OPCIONES</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-center" style="background-color: #ffffff;" >
                                            <tr>
                                                <td>Miguel Angel</td>
                                                <td>Trejo</td>
                                                <td>Guitiérrez</td>
                                                <td>AV.LosMartires</td>
                                                <td>75846321</td>
                                                <td class="d-flex justify-content-center"  style="font-size: 160%;">
                                                    <a class="" href="" data-toggle="modal" data-target="#ModalEditar">
                                                        <i class="fa-solid fa-pen m-2" style="color: black;"></i>
                                                    </a>
                                                    <i class="fa-solid fa-trash-can m-2"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Miguel Angel</td>
                                                <td>Trejo</td>
                                                <td>Guitiérrez</td>
                                                <td>AV.LosMartires</td>
                                                <td>75846321</td>
                                                <td class="d-flex justify-content-center "  style="font-size: 160%;">
                                                    <a class="" href="" data-toggle="modal" data-target="#ModalEditar">
                                                        <i class="fa-solid fa-pen m-2" style="color: black;"></i>
                                                    </a>
                                                    <i class="fa-solid fa-trash-can m-2"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Miguel Angel</td>
                                                <td>Trejo</td>
                                                <td>Guitiérrez</td>
                                                <td>AV.LosMartires</td>
                                                <td>75846321</td>
                                                <td class="d-flex justify-content-center"  style="font-size: 160%;">
                                                    <a class="" href="" data-toggle="modal" data-target="#ModalEditar">
                                                        <i class="fa-solid fa-pen m-2" style="color: black;"></i>
                                                    </a>
                                                    <i class="fa-solid fa-trash-can m-2"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Miguel Angel</td>
                                                <td>Trejo</td>
                                                <td>Guitiérrez</td>
                                                <td>AV.LosMartires</td>
                                                <td>75846321</td>
                                                <td class="d-flex justify-content-center"  style="font-size: 160%;">
                                                    <a class="" href="" data-toggle="modal" data-target="#ModalEditar">
                                                        <i class="fa-solid fa-pen m-2" style="color: black;"></i>
                                                    </a>
                                                    <i class="fa-solid fa-trash-can m-2"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Miguel Angel</td>
                                                <td>Trejo</td>
                                                <td>Guitiérrez</td>
                                                <td>AV.LosMartires</td>
                                                <td>75846321</td>
                                                <td class="d-flex justify-content-center"  style="font-size: 160%;">
                                                    <a class="" href="" data-toggle="modal" data-target="#ModalEditar">
                                                        <i class="fa-solid fa-pen m-2" style="color: black;"></i>
                                                    </a>
                                                    <i class="fa-solid fa-trash-can m-2"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Miguel Angel</td>
                                                <td>Trejo</td>
                                                <td>Guitiérrez</td>
                                                <td>AV.LosMartires</td>
                                                <td>75846321</td>
                                                <td class="d-flex justify-content-center"  style="font-size: 160%;">
                                                    <a class="" href="" data-toggle="modal" data-target="#ModalEditar">
                                                        <i class="fa-solid fa-pen m-2" style="color: black;"></i>
                                                    </a>
                                                    <i class="fa-solid fa-trash-can m-2"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="d-flex justify-content-between m-3">
                                    <div class="row d-flex justify-content-center">
                                        <button type="button" class="font-weight-bold m-2 btn btn-secondary btn-sm "
                                            routerLinkActive="active"
                                            [routerLink]="['/datos-jd']">REGRESAR</button>
                                    </div>
                                    <div class="row d-flex justify-content-center">
                                        <button type="button" class="font-weight-bold m-2 btn  btn-secondary btn-sm"
                                            routerLinkActive="active"
                                            [routerLink]="['/r-documentos']">CONTINUAR</button>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ModalEditar" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="bg-default modal-content text-white">
        <div class="modal-header justify-content-center align-items-center d-flex">
          <h5 class="modal-title text-light" id="exampleModalLabel">EDITAR MIEMBRO</h5>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="text-white form-control-label" for="input-last-name">DNI:</label>
            <input type="email" id="input-last-name" class="form-control form-control-sm form-control-alternative">
          </div>
          <div class="form-group">
            <label class="text-white form-control-label" for="input-last-name">Dirección:</label>
            <input type="email" id="input-last-name" class="form-control form-control-sm form-control-alternative">
          </div>
          <div class="m-3 d-flex justify-content-center">
            <button type="button" class="btn btn-danger col-lg-4 font-weight-bold btn-sm"
              data-dismiss="modal">CANCELAR</button>
            <button type="button" class="btn btn-success col-lg-4 font-weight-bold btn-sm" data-dismiss="modal"
              data-toggle="modal" data-target="#seguroedit">EDITAR</button>
          </div>
        </div>
      </div>
    </div>
  </div>