<div class="header pb-7 pt-5 align-items-center"
  style="min-height: 210px; background-image: url(https://munichaclacayo.gob.pe/portals/slider/imagenes/1.jpg); background-size: cover; background-position: center top;">
</div>
<div class="letra container mt--9 mb-3">
  <div class="row">
    <div class="col-sm-12">
      <div class="card shadow bg-default">
        <h5 class="text-white m-3 text-center font-weight-bold mb-3 d-flex justify-content-center">
          GENERAR N° DE EXPEDIENTES</h5>
        <div class="d-flex m-2 justify-content-center">
            <div class="form-row align-items-center justify-content-center">
              <div class="col-auto my-1">
                <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                <select class="custom-select custom-select-sm mr-sm-2" id="inlineFormCustomSelect">
                  <option selected>Selecionar</option>
                  <option value="1">Representante J.D.</option>
                  <option value="2">Nuevo registro</option>
                  <option value="3">Actualización</option>
                  <option value="4">Con I. Técnico</option>
                  <option value="5">Sin I. Técnico</option>
                </select>
              </div>
              <div class="col-auto my-1">
                <button type="submit" class="btn btn-warning text-white font-weight-bold btn-sm">FILTRAR</button>
              </div>
              <div class="col-auto my-1">
                <form class="form-inline">
                  <label class="sr-only" for="inlineFormInputGroupUsername2">Buscar</label>
                  <div class="input-group col-8">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></div>
                    </div>
                    <input type="text" class="form-control form-control-sm" id="inlineFormInputGroupUsername2" placeholder="Buscar">
                  </div> 
                  <button type="submit" class="btn btn-success text-white font-weight-bold btn-sm">BUSCAR</button>
                </form>
              </div>
            </div>
        </div>
        <div class="table-responsive m-3">
          <table class="table table-bordered">
            <thead class="col-tabla text-white">
              <tr>
                <th class="text-center letra2" scope="col">REPRESENTANTE DE LA J.D</th>
                <th class="text-center letra2" scope="col">NOMBRE DE O.S.</th>
                <th class="text-center letra2" scope="col">RAZÓN</th>
                <th class="text-center letra2" scope="col">FECHA DE INGRESO</th>
                <th class="text-center letra2" scope="col">Nº EXPEDIENTE</th>
              </tr>
            </thead>
            <tbody class="text-center" style="background-color: #ffffff;">
              <tr>
                <td>Gerson Bravo Herrera</td>
                <td>Avenida de la ayuda</td>
                <td>Nuevo registro</td>
                <td>10/12/2022</td>
                <td> <button type="button" class="text-white font-weight-bold btn btn-sm bg-warning" data-toggle="modal"
                    data-target="#exampleModal2">AGREGAR</button>
                </td>
              </tr>
              <tr>
                <td>Esteban Marruecos Tovar</td>
                <td>Esperanza total</td>
                <td>Actualización</td>
                <td>11/12/2022</td>
                <td> <button type="button" class="text-white font-weight-bold btn btn-sm bg-warning" data-toggle="modal"
                    data-target="#exampleModal2">AGREGAR</button>
                </td>
              </tr>
              <tr>
                <td>Esteban Marruecos Tovar</td>
                <td>Esperanza total</td>
                <td>Actualizaciónz</td>
                <td>11/12/2022</td>
                <td> K9305600
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="bg-default modal-content text-white">
      <div class="modal-header justify-content-center align-items-center d-flex">
        <h5 class="modal-title text-white text-center" id="exampleModalLabel">AGREGAR N° DE EXPEDIENTE</h5>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="text-white form-control-label" for="input-last-name">Ingrese número de expediente:</label>
          <input type="email" id="input-last-name" class="form-control form-control-sm form-control-alternative">
        </div>
        <div style="text-align: right;">
          <button type="button" class="font-weight-bold  btn btn-danger btn-sm" data-dismiss="modal">CANCELAR</button>
          <button type="button" class="font-weight-bold  btn btn-success btn-sm" data-dismiss="modal"
            data-toggle="modal" data-target="#seguroexp">GENERAR</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="seguroexp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="bg-default modal-content">
      <div class="modal-body ">
        <div class="row">
          <div class="col-sm-4 justify-content-center align-items-center d-flex">
            <img style="width: 140px; height: 120px;" src="./assets/img/landing/icon_muni.png" alt="">
          </div>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-12">
                <hr>
              </div>
              <div class="col-sm-12">
                <div class="text-light" style="font-size: 23px; text-align: center;">¡Nuevo Nº de expediente generado
                  con éxito!</div>
              </div>
              <div class="col-sm-12">
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>