<div class="header pb-7 pt-5 align-items-center"
    style="min-height: 210px; background-image: url(https://munichaclacayo.gob.pe/portals/slider/imagenes/1.jpg); background-size: cover; background-position: center top;">
</div>
<div class="letra container mt--9 mb-3">
    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow bg-default">
                <h5 class="text-white m-3 text-center font-weight-bold mb-3 d-flex justify-content-center">
                    PARÁMETROS</h5>
                <div class="row  m-2 justify-content-center">
                    <form class="holi" #f="ngForm" (ngSubmit)="add()" novalidate>
                        <div class="col-lg-4 m-2">
                            <select class="custom-select custom-select-sm mr-sm-2" id="inputdropTOS"
                                [(ngModel)]="tipoparametro">
                                <option selected>Tipo de parámetro</option>
                                <option value="1">Cargo</option>
                                <option value="2">Zona</option>
                                <option value="3">Nivel</option>
                                <option value="4">Tipo de organización</option>
                            </select>

                        </div>
                        <div class="col-lg-6 m-2">
                            <input type="text" [(ngModel)]="nombre" required
                                class="form-control form-control-sm form-control-alternative col-sm-10"
                                style="font-size: 16px;" placeholder="Nombre del parámetro">
                        </div>
                        <div class="col m-2">
                            <button type="button" [disabled]="!f.valid"
                                class="btn btn-warning text-white font-weight-bold btn-sm">AGREGAR</button>
                        </div>
                    </form>
                </div>
                <div class="table-responsive m-3">
                    <table class="table table-bordered">
                        <thead class="col-tabla text-white">
                            <tr>
                                <th class="text-center letra2" scope="col">#</th>
                                <th class="text-center letra2" scope="col">TIPO PARÁMETRO</th>
                                <th class="text-center letra2" scope="col">NOMBRE DEL PARÁMETRO</th>
                                <th class="text-center letra2" scope="col">OPCIONES</th>
                            </tr>
                        </thead>
                        <tbody class="text-center" style="background-color: #ffffff;">
                            <tr *ngFor="let todos of all">
                                <th scope="row">{{todos.idparametros}}</th>
                                <td>{{todos.tipoparametro}}</td>
                                <td>{{todos.nombre}}</td>
                                <td class="d-flex justify-content-center">
                                  
                                        <i class="fa-solid fa-pen m-2 " style="font-size: 160%;" data-toggle="modal" data-target="#ModalEditar" ></i>
                                   
                                    <i class="fa-solid fa-trash-can m-2"  style="font-size: 160%;"data-toggle="modal" data-target="#eliminar" ></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalEditar" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="bg-default modal-content text-white">
            <div class="modal-header justify-content-center align-items-center d-flex">
                <h5 class="modal-title text-white text-center" id="exampleModalLabel">EDITAR PARÁMETRO</h5>
            </div>
            <div class="modal-body">
                <div class="col-sm-12">
                    <select class="custom-select" id="inputdropTOS">
                        <option selected>Selecionar rol</option>
                        <option value="1">USsuario</option>
                        <option value="2">Subgerencia</option>
                        <option value="3">Gerencia</option>
                        <option value="4">Mesa de partes</option>
                    </select>
                </div>
                <div class="m-3 d-flex justify-content-center">
                    <button type="button" class="btn btn-danger col-lg-4 font-weight-bold btn-sm"
                        data-dismiss="modal">CANCELAR</button>
                    <button type="button" class="btn btn-success col-lg-4 font-weight-bold btn-sm" data-dismiss="modal"
                        data-toggle="modal" data-target="#seguro">ACEPTAR</button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="eliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="bg-default modal-content">
            <div class="modal-body ">
                <h5 class="text-white m-2 modal-title justify-content-center d-flex" id="exampleModalLabel">¿Está seguro
                    de eliminar este parámetro?</h5>
                <div class="justify-content-center d-flex m-3">
                    <button type="button" class="btn btn-danger col-lg-4 font-weight-bold btn-sm"
                        data-dismiss="modal">CANCELAR</button>
                    <button type="button" class="btn btn-success col-lg-4 font-weight-bold btn-sm" data-dismiss="modal"
                        data-toggle="modal" data-target="#seguroelim">ESTOY SEGURO</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="seguroelim" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="bg-default modal-content">
            <div class="modal-body ">
                <div class="row">
                    <div class="col-sm-4 justify-content-center align-items-center d-flex">
                        <img style="width: 140px; height: 120px;" src="./assets/img/landing/icon_muni.png" alt="">
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-12">
                                <hr>
                            </div>
                            <div class="col-sm-12">
                                <div class="text-light" style="font-size: 23px; text-align: center;">¡Parámetro
                                    eliminado de manera
                                    exitosa!</div>
                            </div>
                            <div class="col-sm-12">
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>