hr{
    background-color: white;
    height: 3px;
}

.holi{
    display: flex;
}

.modal-content {
    border-radius: 1.2rem;
}


.table-responsive {
    width: 96.5%;
}

.card {
    border-radius: 1.2rem;
}

.letra2 {
    font-size: 14px;
}

.bg-default {
    background: #333333 !important;
}

.col-tabla {
    background-color: #92d050;
}

.botonesmos {
    display: flex;
}


.letra {
    font-family: sans-serif;
}

@media screen and(max-width:991px) {
    .botonesmos {
        display: block;
        margin: 1.5rem;
    }

    .col-lg-2 {
        width: 96%;
    }

    .table-responsive {
        width: 93.5%;
    }

    .row {
        flex-wrap: none;
    }
    .holi{
        display: block;
    }

}


@media screen and(max-width:767px) {

    .table-responsive {
        width: 90%;
    }
}