<div class="header pb-7 pt-5 align-items-center"
  style="min-height: 210px; background-image: url(https://munichaclacayo.gob.pe/portals/slider/imagenes/1.jpg); background-size: cover; background-position: center top;">
</div>
<div class="letra container mt--9 mb-3">
  <div class="row">
    <div class="col-sm-12">
      <div class="card shadow bg-default">
        <h5 class="text-white m-3 text-center font-weight-bold mb-3 d-flex justify-content-center">
        ASIGNAR ROLES</h5>
        <div class="d-flex m-2 justify-content-center">
          <div class="form-row align-items-center justify-content-center">
            <div class="col-auto my-1">
              <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
              <select class="custom-select custom-select-sm mr-sm-2" id="inlineFormCustomSelect">
                <option selected>Selecionar</option>
                <option value="1">Admin</option>
                <option value="2">Usuario</option>
                <option value="3">Mesa de partes</option>
                <option value="4">Subgerencia</option>
                <option value="5">Gerencia</option>
              </select>
            </div>
            <div class="col-auto my-1">
              <button type="submit" class="btn btn-warning text-white font-weight-bold btn-sm">FILTRAR</button>
            </div>
            <div class="col-auto my-1">
              <form class="form-inline">
                <label class="sr-only" for="inlineFormInputGroupUsername2">Buscar</label>
                <div class="input-group col-8">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></div>
                  </div>
                  <input type="text" class="form-control form-control-sm" id="inlineFormInputGroupUsername2"
                    placeholder="Buscar">
                </div>
                <button type="submit" class="btn btn-success text-white font-weight-bold btn-sm">BUSCAR</button>
              </form>
            </div>
          </div>
        </div>
        <div class="container-fluid justify-content-end">
          <button type="submit" class="btn btn-warning text-white font-weight-bold btn-sm" data-toggle="modal"
            data-target="#guardar">GUARDAR CAMBIOS</button>
        </div>
        <div class="table-responsive m-3">
          <table class="table table-bordered">
            <thead class="col-tabla text-white">
              <tr>
                <th class="text-center letra2" scope="col">NOMBRES Y APELLIDOS</th>
                <th class="text-center letra2" scope="col">ROLES</th>
              </tr>
            </thead>
            <tbody class="text-center" style="background-color: #ffffff;">
              <tr>
                <td>Miguel Angel Trejo Gutiérrez</td>
                <td>
                    USUARIO
                    <a class="" href="" data-toggle="modal" data-target="#ModalEditar">
                        <i class="fa-solid fa-pen ml-3 text-dark"></i>
                    </a>
                </td>
              </tr>
              <tr>
                <td>Miguel Angel Trejo Gutiérrez</td>
                <td>
                   SUBGERENCIA
                    <a class="" href="" data-toggle="modal" data-target="#ModalEditar">
                        <i class="fa-solid fa-pen ml-3 text-dark"></i>
                    </a>
                </td>
              </tr>
              <tr>
                <td>Miguel Angel Trejo Gutiérrez</td>
                <td>
                   GERENCIA
                    <a class="" href="" data-toggle="modal" data-target="#ModalEditar">
                        <i class="fa-solid fa-pen ml-3 text-dark"></i>
                    </a>
                </td>
              </tr>
              <tr>
                <td>Miguel Angel Trejo Gutiérrez</td>
                <td>
                  ADMIN
                    <a class="" href="" data-toggle="modal" data-target="#ModalEditar">
                        <i class="fa-solid fa-pen ml-3 text-dark"></i>
                    </a>
                </td>
              </tr>
              <tr>
                <td>Miguel Angel Trejo Gutiérrez</td>
                <td>
                  MESA DE PARTES
                    <a class="" href="" data-toggle="modal" data-target="#ModalEditar">
                        <i class="fa-solid fa-pen ml-3 text-dark"></i>
                    </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalEditar" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="bg-default modal-content text-white">
      <div class="modal-header justify-content-center align-items-center d-flex">
        <h5 class="modal-title text-white text-center" id="exampleModalLabel">EDITAR ROLES</h5>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
            <select class="custom-select" id="inputdropTOS">
                <option selected>SELECCIONAR ROL</option>
                <option value="1">USUARIO</option>
                <option value="2">SUBGERENCIA PV</option>
                <option value="3">GERENCIA DS</option>
                <option value="4">SUBGERENCIA MP</option>
            </select>
        </div>
        <div class="m-3 d-flex justify-content-center">
          <button type="button" class="btn btn-danger col-lg-4 font-weight-bold btn-sm"
            data-dismiss="modal">CANCELAR</button>
          <button type="button" class="btn btn-success col-lg-4 font-weight-bold btn-sm" data-dismiss="modal"
            data-toggle="modal" data-target="#seguro">ACEPTAR</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="guardar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="bg-default modal-content">
        <div class="modal-body ">
          <h5 class="text-white m-2 modal-title justify-content-center d-flex" id="exampleModalLabel">¿Desea guardar los cambios?</h5>
          <div class="justify-content-center d-flex m-3">
            <button type="button" class="btn btn-danger col-lg-4 font-weight-bold btn-sm"
              data-dismiss="modal">CANCELAR</button>
            <button type="button" class="btn btn-success col-lg-4 font-weight-bold btn-sm" data-dismiss="modal"
              data-toggle="modal" data-target="#seguroelim">ACEPTAR</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="seguroelim" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="bg-default modal-content">
        <div class="modal-body ">
          <div class="row">
            <div class="col-sm-4 justify-content-center align-items-center d-flex">
              <img style="width: 140px; height: 120px;" src="./assets/img/landing/icon_muni.png" alt="">
            </div>
            <div class="col-sm-8">
              <div class="row">
                <div class="col-sm-12">
                  <hr>
                </div>
                <div class="col-sm-12">
                  <div class="text-light" style="font-size: 23px; text-align: center;">¡Se guardaron los cambios de manera
                    exitosa!</div>
                </div>
                <div class="col-sm-12">
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  