<div class="header pb-7 pt-5 align-items-center"
  style="min-height: 210px; background-image: url(https://munichaclacayo.gob.pe/portals/slider/imagenes/1.jpg); background-size: cover; background-position: center top;">
</div>
<div class="letra container mt--9 mb-3">
  <div class="row">
    <div class="col-sm-12">
      <div class="card shadow bg-default">
        <h5 class="text-white m-3 text-center font-weight-bold mb-3 d-flex justify-content-center">
          GENERAR RESOLUCIONES</h5>
        <div class="d-flex m-2 justify-content-center">
          <div class="form-row align-items-center justify-content-center">
            <div class="col-auto my-1">
              <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
              <select class="custom-select custom-select-sm mr-sm-2" id="inlineFormCustomSelect">
                <option selected>Selecionar</option>
                <option value="1">Representante J.D.</option>
                <option value="2">Nuevo registro</option>
                <option value="3">Actualización</option>
                <option value="4">Con I. Técnico</option>
                <option value="5">Sin I. Técnico</option>
              </select>
            </div>
            <div class="col-auto my-1">
              <button type="submit" class="btn btn-warning text-white font-weight-bold btn-sm">FILTRAR</button>
            </div>
            <div class="col-auto my-1">
              <form class="form-inline">
                <label class="sr-only" for="inlineFormInputGroupUsername2">Buscar</label>
                <div class="input-group col-8">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></div>
                  </div>
                  <input type="text" class="form-control form-control-sm" id="inlineFormInputGroupUsername2"
                    placeholder="Buscar">
                </div>
                <button type="submit" class="btn btn-success text-white font-weight-bold btn-sm">BUSCAR</button>
              </form>
            </div>
          </div>
        </div>
        <div class="container-fluid justify-content-end">
          <button type="submit" class="btn btn-warning text-white font-weight-bold btn-sm" data-toggle="modal"
          data-target="#generarcorreos">GENERAR NUEVA ORGANIZACIÓN SOCIAL</button>
        </div>
        <div class="table-responsive m-3">
          <table class="table table-bordered">
            <thead class="col-tabla text-white">
              <tr>
                <th class="text-center letra2" scope="col"></th>
                <th class="text-center letra2" scope="col">REPRESENTANTE DE LA J.D</th>
                <th class="text-center letra2" scope="col">ORG. SOCIAL</th>
                <th class="text-center letra2" scope="col">TIPO</th>
                <th class="text-center letra2" scope="col">DETALLE</th>
                <th class="text-center letra2" scope="col">N° EXPEDIENTE</th>
                <th class="text-center letra2" scope="col">INFORME TÉCNICO</th>
                <th class="text-center letra2" scope="col">RESOLUCIÓN DE RECONOCIMIENTO</th>

              </tr>
            </thead>
            <tbody class="text-center" style="background-color: #ffffff;">
              <tr>
                <td> <div class=" custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1"></label>
                </div>
                </td>
                <td>Esteban Marruecos Tovar
                </td>
                <td>Ayuda mutua</td>
                <td>Local</td>
                <td>
              
                      <i data-toggle="modal"
                      data-target="#exampleModal" style="font-size: 160%;" class="text-dark fa-solid fa-eye"></i>
                    
                </td>
                <td>12345678</td>
                  <td>
                   
                      <i  data-toggle="modal"
                      data-target="#exampleModal" style="font-size: 160%;" class="text-dark fa-solid fa-eye"></i>
                
                </td>
                <td>
                  <div class="d-flex">
                    <i class="fa-solid fa-eye" style="font-size: 160%;" data-toggle="modal"
                      data-target="#exampleModal"></i>
                    <input type="file" class="ml-2 form-control-file" id="exampleFormControlFile1">
                  </div>
                </td>
              </tr>
              <tr>
                <td> <div class=" custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1"></label>
                </div>
                </td>
                <td>Esteban Marruecos Tovar
                </td>
                <td>Ayuda mutua</td>
                <td>Local</td>
                <td>
    
                      <i data-toggle="modal"
                      data-target="#exampleModal" style="font-size: 160%;" class="text-dark fa-solid fa-eye"></i>
                    
                </td>
                <td>12345678</td>
                  <td>
                  
                      <i  data-toggle="modal"
                      data-target="#exampleModal" style="font-size: 160%;" class="text-dark fa-solid fa-eye"></i>
                
                </td>
                <td>
                  <div class="d-flex">
                    <i class="fa-solid fa-eye" style="font-size: 160%;" data-toggle="modal"
                      data-target="#exampleModal"></i>
                    <input type="file" class="ml-2 form-control-file" id="exampleFormControlFile1">
                  </div>
                </td>
              </tr>
              <tr>
                <td> <div class=" custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1"></label>
                </div>
                </td>
                <td>Esteban Marruecos Tovar
                </td>
                <td>Ayuda mutua</td>
                <td>Local</td>
                <td>
                    
                      <i data-toggle="modal"
                      data-target="#exampleModal" style="font-size: 160%;" class="text-dark fa-solid fa-eye"></i>
                 
                </td>
                <td>12345678</td>
                  <td>
                
                      <i data-toggle="modal"
                      data-target="#exampleModal" style="font-size: 160%;" class="text-dark fa-solid fa-eye"></i>
                   
                </td>
                <td>
                  <div class="d-flex">
                    <i class="fa-solid fa-eye" style="font-size: 160%;" data-toggle="modal"
                      data-target="#exampleModal"></i>
                    <input type="file" class="ml-2 form-control-file" id="exampleFormControlFile1">
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>

<div data-backdrop="static" data-keyboard="false" class="modal fade" id="generarcorreos"
tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="bg-default modal-content text-white">
      <div class="modal-header justify-content-center align-items-center d-flex">
        <h5 class="modal-title text-white text-center" id="exampleModalLabel">ANTES DE GENERAR LA NUEVA ORGANIZACIÓN,
          SE SOLICITA QUE NOTIFIQUE AL USUARIO SOBRE
          SU REGISTRO EXITOSO</h5>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="recipient-name" class="col-form-label text-light">Correo electrónico:</label>
          <input type="text" class="form-control form-control-sm" id="recipient-name">
        </div>
        <div class="form-group">
          <label for="message-text" class="col-form-label text-light">Mensaje:</label>
          <textarea class="form-control form-control-sm" id="message-text"></textarea>
        </div>
        <div class="m-3 d-flex justify-content-center">
          <button type="button" class="btn btn-danger col-lg-4 font-weight-bold btn-sm"
            data-dismiss="modal">CANCELAR</button>
          <button type="button" class="btn btn-success col-lg-4 font-weight-bold btn-sm" data-dismiss="modal"
            data-toggle="modal" data-target="#seguro">ENVIAR</button>
        </div>
      </div>
    </div>
  </div>
</div>
