<div class="header pb-7 pt-5 pt-lg-8 align-items-center"
    style="min-height: 350px; background-image: url(https://munichaclacayo.gob.pe/portals/slider/imagenes/1.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <div class=" container mb-8 row mx-auto">
        <h1 class="text-center  col-sm-4"
            style="border: 2px black solid; background-color: white; font-size: 23px; width: 22rem; border-radius: 10px; font-family: sans-serif; color: black;">
            <strong>DATOS DE ORGANIZACION</strong>
        </h1>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--8">
    <div class="row">
        <div class="col-xl-8 order-xl-2 mb-5 mb-xl-0 background-position: center top;">
            <div class="card card-profile shadow mb-5" style="margin-top: -6rem; border-radius: 10px;">
                <div class="row justify-content-center">
                    <span style="font-size: 10rem;"><i class="fa-solid fa-users"></i></span>
                </div>

                <div class="card-body bg-white">
                    <form class="mb-3" #f="ngForm" (ngSubmit)="OnOrganizacion()">
                        <div class="row" style="gap: 1rem;">

                            <div class="col-lg-12">
                                <div class="d-flex row">
                                    <label class="font-weight-bold form-control-label col-sm-4" style="font-size: 16px;"
                                        >Tipo
                                        Organización</label>
                                    <div class="col-sm-5">
                                        <select class="custom-select ml--3" id="inputdropTOS" [(ngModel)]="idparametro_tipo_os"  >

                                            <option *ngFor="let tipos of tipo" value="{{tipos.idparametros}}">{{tipos.nombre}}</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="d-flex row">
                                    <label class="font-weight-bold form-control-label col-sm-4" style="font-size: 16px;"
                                        >Zona</label>
                                    <div class="col-sm-5">
                                      <select class="custom-select ml--3" id="asdasa" [(ngModel)]="idparametro_zona"  >

                                        <option *ngFor="let zonas of tipo" value="{{zonas.idparametros}}">{{zonas.nombre}}</option>

                                      </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="d-flex row">
                                    <label class="font-weight-bold form-control-label col-sm-4" style="font-size: 16px;"
                                        >Nivel</label>
                                    <div class="col-sm-5">
                                        <select class="custom-select ml--3" id="inputdropNivel" [(ngModel)]="idparametro_nivel" >

                                            <option *ngFor="let niveles of nivel" value="{{niveles.idparametros}}">{{niveles.nombre}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                          <div class="col-lg-12">
                            <div class="d-flex row">
                              <label class="font-weight-bold form-control-label col-sm-4" style="font-size: 16px;"
                                     >Nombre
                                Organización Social</label>
                              <input type="text" [(ngModel)]="nombre_os" required
                                     class="form-control form-control-sm form-control-alternative col-sm-7"
                                     style="font-size: 16px;"
                                     placeholder="Ingrese el nombre de su Organización Social">
                            </div>
                          </div>
                        </div>
                      <div class="col-sm-3 row">
                        <div class="p-1">
                          <strong>FECHA DE GOBIERNO:</strong>
                        </div>
                      </div>
                      <div class="col-sm-3 d-flex">
                        <span class="p-1">DESDE:</span>
                        <input type="date" #fechainicio>
                      </div>
                      <div class="col-sm-2 d-flex">
                        <span class="p-1">HASTA:</span>
                        <input type="date" #fechafin>
                      </div>
                        <div class="row d-flex justify-content-center mt-2">
<!--                            <button type="button" class="font-weight-bold m-2 btn btn-success btn-sm col-lg-4"-->
<!--                                routerLinkActive="active" [disabled]="!f.valid">CONTINUAR</button>-->

                          <button class="btn btn-success btn-sm col-lg-12 btn-block"  [routerLink]="['/mi-organizacion-social']" [disabled]="!f.valid"><b>CONTINUAR</b></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
