<div class="header pb-7 pt-5 align-items-center"
  style="min-height: 210px; background-image: url(https://munichaclacayo.gob.pe/portals/slider/imagenes/1.jpg); background-size: cover; background-position: center top;">
</div>
<div class="letra container mt--9 mb-3">
  <div class="row">
    <div class="col-sm-12">
      <div class="card shadow bg-default">
        <h5 class="text-white m-3 text-center font-weight-bold mb-3 d-flex justify-content-center">
        ASIGNAR PRIVILEGIOS</h5>
        <div class="container-fluid justify-content-end">
          <button type="submit" class="btn btn-warning text-white font-weight-bold btn-sm" data-toggle="modal"
            data-target="#guardar">GUARDAR CAMBIOS</button>
        </div>
        <div class="table-responsive m-3">
          <table class="table table-bordered">
            <thead class="col-tabla text-white">
              <tr>
                <th class="text-center letra2" scope="col">ROLES</th>
                <th class="text-center letra2" scope="col">PRIVILEGIOS</th>
              </tr>
            </thead>
            <tbody class="text-center" style="background-color: #ffffff;">
              <tr>
                <td>Admin</td>
                <td>
                    <button type="submit" class="btn btn-warning text-white font-weight-bold btn-sm" data-dismiss="modal" data-toggle="modal" data-target="#ModalEditar" >ASIGNAR</button>
                </td>
              </tr>
              <tr>
                <td>Usuario</td>
                <td>
                    <button type="submit" class="btn btn-warning text-white font-weight-bold btn-sm" data-dismiss="modal" data-toggle="modal" data-target="#ModalEditar" >ASIGNAR</button>
                </td>
              </tr>
              <tr>
                <td>Subgerencia</td>
                <td>
                    <button type="submit" class="btn btn-warning text-white font-weight-bold btn-sm" data-dismiss="modal" data-toggle="modal" data-target="#ModalEditar" >ASIGNAR</button>
                </td>
              </tr>
              <tr>
                <td>Gerencia</td>
                <td>
                    <button type="submit" class="btn btn-warning text-white font-weight-bold btn-sm" data-dismiss="modal" data-toggle="modal" data-target="#ModalEditar" >ASIGNAR</button>
                </td>
              </tr>
              <tr>
                <td>Mesa de partes</td>
                <td>
                    <button type="submit" class="btn btn-warning text-white font-weight-bold btn-sm" data-dismiss="modal" data-toggle="modal" data-target="#ModalEditar" >BUSCAR</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalEditar" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="bg-default modal-content text-white">
      <div class="modal-header justify-content-center align-items-center d-flex">
        <h5 class="modal-title text-white text-center" id="exampleModalLabel">EDITAR PRIVILEGIOS</h5>
      </div>
      <div class="modal-body">
        <div class="row d-flex p-2">
            <div class="col-sm-8 row p-2">
                <input type="text"
                    class="form-control form-control-sm form-control-alternative ml-4"
                    style="font-size: 16px;" placeholder="BUSCAR">
            </div>
            <div class="col-sm-3 mr-4 p-2">
                <button type="button"
                    class="font-weight-bold btn btn-success btn-sm col-sm-11 ml-3">BUSCAR</button>
            </div>  
        </div> 
        <div class="row m-2 ">
            <div class="col-lg-9 ">
              <p class="letra2 mt-1">
                <i class="fs-4 fa-solid fa-circle"></i>
              </p>
            </div>
            <div class="col-lg-3 
            d-flex justify-content-center align-items-center">
            <i  style="font-size: 160%;" class="m-2 fa-solid fa-trash"></i>
            </div>
          </div>
          <div class="row m-2 ">
            <div class="col-lg-9 ">
              <p class="letra2 mt-1">
                <i class="fs-4 fa-solid fa-circle"></i>
              </p>
            </div>
            <div class="col-lg-3 
            d-flex justify-content-center align-items-center">
                <i  style="font-size: 160%;" class="m-2 fa-solid fa-trash"></i>
            </div>
          </div>
          <div class="row m-2 ">
            <div class="col-lg-9 ">
              <p class="letra2 mt-1">
                <i class="fs-4 fa-solid fa-circle"></i>
              </p>
            </div>
            <div class="col-lg-3 
            d-flex justify-content-center align-items-center">
              <i  style="font-size: 160%;" class="m-2 fa-solid fa-trash"></i>
            </div>
          </div>
          <div class="row m-2 ">
            <div class="col-lg-9 ">
              <p class="letra2 mt-1">
                <i class="fs-4 fa-solid fa-circle"></i>
              </p>
            </div>
            <div class="col-lg-3 
            d-flex justify-content-center align-items-center">
            <i  style="font-size: 160%;" class="m-2 fa-solid fa-trash"></i>
            </div>
          </div>
        <div class="m-3 d-flex justify-content-center">
          <button type="button" class="btn btn-danger col-lg-4 font-weight-bold btn-sm"
            data-dismiss="modal">CANCELAR</button>
          <button type="button" class="btn btn-success col-lg-4 font-weight-bold btn-sm" data-dismiss="modal"
            data-toggle="modal" data-target="#seguro">ACEPTAR</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="guardar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="bg-default modal-content">
        <div class="modal-body ">
          <h5 class="text-white m-2 modal-title justify-content-center d-flex" id="exampleModalLabel">¿Desea guardar los cambios?</h5>
          <div class="justify-content-center d-flex m-3">
            <button type="button" class="btn btn-danger col-lg-4 font-weight-bold btn-sm"
              data-dismiss="modal">CANCELAR</button>
            <button type="button" class="btn btn-success col-lg-4 font-weight-bold btn-sm" data-dismiss="modal"
              data-toggle="modal" data-target="#seguroelim">ACEPTAR</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="seguroelim" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="bg-default modal-content">
        <div class="modal-body ">
          <div class="row">
            <div class="col-sm-4 justify-content-center align-items-center d-flex">
              <img style="width: 140px; height: 120px;" src="./assets/img/landing/icon_muni.png" alt="">
            </div>
            <div class="col-sm-8">
              <div class="row">
                <div class="col-sm-12">
                  <hr>
                </div>
                <div class="col-sm-12">
                  <div class="text-light" style="font-size: 23px; text-align: center;">¡Se guardaron los cambios de manera
                    exitosa!</div>
                </div>
                <div class="col-sm-12">
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  