<div class="header pb-7 pt-5 align-items-center"
    style="min-height: 210px; background-image: url(https://munichaclacayo.gob.pe/portals/slider/imagenes/1.jpg); background-size: cover; background-position: center top;">
</div>
<div class="letra container mt--9 mb-3">
    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow ">
                <h5 class=" m-3 font-weight-bold mb-3 d-flex justify-content-center">
                    DOCUMENTOS</h5>
                <div class="card-body justify-content-center align-items-center d-flex">
                    <form class="mb-3">
                        <div class="container mt-3">
                            <div class="row d-flex mt-4">
                                <div class="col-sm-6 justify-content-center d-flex align-items-center">
                                    <div class="col-sm-9 text-center"
                                        style="background-color: #f9d76f; border-radius: 8px;">
                                        <p class="letra2 m-2 font-weight-bold">
                                            <strong>ACTA DE FUNDACIÓN O DE CONSTITUCIÓN</strong>
                                        </p>
                                    </div>
                                    <div class="ml-3" style="font-size: 32px; ">
                                        <i class=" fa-regular fa-eye" type="button" data-toggle="modal" data-target="#exampleModal"></i>
                                        <i class="ml-2 fa-solid fa-file-arrow-up"></i>
                                    </div>
                                </div>
                                <div class="caja col-sm-6 justify-content-center d-flex align-items-center">
                                    <div class="col-sm-9 text-center"
                                        style="background-color: #f9d76f; border-radius: 8px;">
                                        <p class="letra2 m-2 font-weight-bold">
                                            <strong>PLANO O CROQUIS REFERENCIAL DE LA UBICACION DEL
                                                LOCAL</strong>
                                        </p>
                                    </div>
                                    <div class="ml-3" style="font-size: 32px; ">
                                        <i class=" fa-regular fa-eye" type="button" data-toggle="modal" data-target="#exampleModal"></i>
                                        <i class="ml-2 fa-solid fa-file-arrow-up"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex mt-4">
                                <div class="col-sm-6 justify-content-center d-flex align-items-center">
                                    <div class="col-sm-9 text-center"
                                        style="background-color: #f9d76f; border-radius: 8px;">
                                        <p class="letra2 m-2 font-weight-bold">
                                            <strong>ESTATUTO Y ACTA DE APROBACIÓN DE LA ORGANIZACIÓN</strong>
                                        </p>
                                    </div>
                                    <div class="ml-3" style="font-size: 32px; ">
                                        <i class="fa-regular fa-eye" type="button" data-toggle="modal" data-target="#exampleModal"></i>
                                        <i class="ml-2 fa-solid fa-file-arrow-up"></i>
                                    </div>
                                </div>
                                <div class="caja col-sm-6 justify-content-center d-flex align-items-center">
                                    <div class="col-sm-9 text-center"
                                        style="background-color: #f9d76f; border-radius: 8px;">
                                       <p class="letra2 m-2 font-weight-bold">
                                         <strong>PLANO O CROQUIS DEL RADIO DE ACCIÓN DE LA
                                             ORGANIZACIÓN</strong>
                                       </p>
                                    </div>
                                    <div class="ml-3" style="font-size: 32px; ">
                                        <i class="fa-regular fa-eye" type="button" data-toggle="modal" data-target="#exampleModal"></i>
                                        <i class="ml-2 fa-solid fa-file-arrow-up"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex mt-4">
                                <div class="col-sm-6 justify-content-center d-flex align-items-center">
                                    <div class="col-sm-9 text-center"
                                        style="background-color: #f9d76f; border-radius: 8px;">
                                       <p class="letra2 m-2 font-weight-bold">
                                         <strong>ACTA DE ELECCIÓN DEL ORGANO DIRECTIVO</strong>
                                       </p>
                                    </div>
                                    <div class="ml-3" style="font-size: 32px; ">
                                       <i class=" fa-regular fa-eye" type="button" data-toggle="modal" data-target="#exampleModal"></i>
                                       <i class="ml-2 fa-solid fa-file-arrow-up"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center mt-4">
                            <button type="button" class="font-weight-bold m-2 btn btn-success btn-sm col-lg-4" data-toggle="modal"
                                data-target="#ModalAlerta">=> ¡ENVIAR
                                SOLICITUD! <= </button>
                        </div>
                        <div class="d-flex justify-content-start">
                            <div class="row d-flex justify-content-center mt-2 col-sm-2">
                                <button type="button" class="font-weight-bold m-2 btn btn-secondary btn-sm "
                                  routerLinkActive="active"
                                    [routerLink]="['/datos-miembros']">REGRESAR</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
      </div>
    </div>
  </div>


<div class="modal fade" id="ModalAlerta" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="bg-default modal-content">
        <div class="modal-body ">
          <h5 class="text-white m-2 modal-title justify-content-center d-flex" id="exampleModalLabel">¿Está seguro de
            enviar la solicitud?</h5>
          <div class="justify-content-center d-flex m-3">
            <button type="button" class="btn btn-danger col-lg-4 font-weight-bold btn-sm"
              data-dismiss="modal">CANCELAR</button>
            <button type="button" class="btn btn-success col-lg-4 font-weight-bold btn-sm" routerLinkActive="active"
            [routerLink]="['/mi-organizacion-social']">ESTOY SEGURO</button>
          </div>
        </div>
      </div>
    </div>
  </div>