.hola {
    margin-top: -3rem !important;
}

hr{
    background-color: white;
    height: 3px;
}

.card {
    border-radius: 1.2rem;
}

.bg-default {
    background: #333333 !important;
}

.botonesmos {
    display: flex;
}

.letra2 {
    font-size: 14px;
}

.letra {
    font-family: sans-serif;
}

@media screen and(max-width:991px) {
    .botonesmos {
        display: block;
        margin: 1.5rem;
    }

    .col-lg-2 {
        width: 96%;
    }

    .table-responsive {
        width: 93.5%;
    }

    .row {
        flex-wrap: none;
    }


}

@media screen and(max-width:767px) {
    .caja {
        margin-top: 1.5rem;
    }
}