<div class="letra mos container">
    <div class="mostrar col-4 text-center mt-4">
        <div class="m-3">
            <a>
                <img src="https://i.pinimg.com/736x/d6/8d/2e/d68d2e60729ee7efcb5a70c00328956f.jpg"
                    class="rounded-circle" style="width: 15rem;position: relative;z-index: 10;">
            </a>

            <div class="mt--5 ml-9 rounded-circle bg-success" style="width: 3.5rem;height: 3.5rem;position: relative;z-index: 20;"></div>
        </div>
        <div class="but justify-content-center">
            <button type="button" class="col-lg-7 btn btn-sm btn-secondary m-2 font-weight-bold"
                routerLinkActive="active" [routerLink]="['/mi-organizacion-social']">MI SOLICITUD</button>
            <button type="button" class="col-lg-7 btn btn-sm btn-secondary m-2 font-weight-bold"
                routerLinkActive="active" [routerLink]="['/mosjd']">JUNTA DIRECTIVA</button>
            <button type="button" class="col-lg-7 btn btn-sm btn-secondary m-2 font-weight-bold"
                routerLinkActive="active" [routerLink]="['/mosmiembros']">MIEMBROS</button>
            <button type="button" class="col-lg-7 btn btn-sm btn-secondary m-2 font-weight-bold"
                routerLinkActive="active" [routerLink]="['/mosdocumentos']">DOCUMENTOS</button>
        </div>
    </div>
    <div class="col-8">
        <div class="mb-4 bg-default card-body shadow mt-5">
            <form class="">
                <h5 class="text-center text-white font-weight-bold mb-3 d-flex justify-content-center">
                    MI ORGANIZACIÓN SOCIAL</h5>
                <div class="mt-4">
                    <fieldset disabled>
                        <div class="form-group mis">
                            <label class="text-white col font-weight-bold form-control-label"
                                for="input-last-name">Nombre de la
                                Organización:</label>
                            <input type="text" id="disabledTextInput"
                                class="col-lg-7 form-control form-control-sm form-control-alternative">
                        </div>
                        <div class="form-group mis">
                            <label class="text-white col font-weight-bold form-control-label" for="input-last-name">Tipo
                                de
                                Organización:</label>
                            <input type="text" id="input-last-name"
                                class="col-lg-7 form-control form-control-sm form-control-alternative">
                        </div>
                        <div class="form-group mis">
                            <label class="text-white col font-weight-bold form-control-label"
                                for="input-last-name">Nivel:</label>
                            <input type="text" id="input-last-name"
                                class="col-lg-7 form-control form-control-sm form-control-alternative">
                        </div>
                        <div class="form-group mis">
                            <label class="text-white col font-weight-bold form-control-label"
                                for="input-last-name">Zona:​</label>
                            <input type="text" id="input-last-name"
                                class="col-lg-7 form-control form-control-sm form-control-alternative">
                        </div>
                        <div class="cajitas mt-4">
                            <div class="col-lg-7">
                                <div class="mis form-group">
                                    <label class="text-white col font-weight-bold form-control-label"
                                        for="input-last-name">N° de
                                        resolución:</label>
                                    <input type="text" id="input-last-name"
                                        class="col-lg-5 form-control-sm form-control form-control-alternative">
                                </div>
                            </div>
                            <div class="col">
                                <div class="mis form-group">
                                    <label class="text-white mr-3 font-weight-bold form-control-label"
                                        for="input-last-name">Resolución:</label>
                                    <div class="d-flex">
                                        <i class="text-white fa-solid fa-eye mr-2" type="button" data-toggle="modal"
                                            data-target="#exampleModal" style="font-size: 160%;"></i>
                                        <i class="text-white fa-solid fa-download" style="font-size: 160%;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>