<div class="header pb-7 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 250px; background-image: url(https://munichaclacayo.gob.pe/portals/slider/imagenes/1.jpg); background-size: cover;">
  <!-- Mask -->
  <div style="margin-top:-65px;">
    <div class="col-sm-15">
      <div
        style=" align-items: center; display: flex; justify-content: center; margin-top: 15px; background-color:#4cab39c7;">
        <h5 style="margin-top: 10px; color: white; font-family: sans-serif; text-align: center; "><strong>SOLICITUDES
            RECHAZADAS</strong>
        </h5>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="container" style="margin-top: 70px;">
        <div class="header-body">
          <div class="container-sm">

            <div class="row ">
              <div class="col-sm-12">
                <div class="">
                  <div class="form-group">
                    <div class="input-group d-flex">
                      <select style="border:1px rgb(231, 230, 230) solid; border-radius: 4px;"
                        class="form-select form-select-sm col-sm-3 ml-5" aria-label=".form-select-sm example">
                        <option selected> Seleccionar</option>
                        <option value="1">Representante J.D.</option>
                        <option value="2">Nuevo registro</option>
                        <option value="2">Actualización</option>
                        <option value="3">Con I. Técnico</option>
                        <option value="3">Sin I. Técnico</option>
                      </select>
                      <button style="background-color: gold;" type="button" class="btn btn ml-1">FILTRAR</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-8">
                <div>
                  <div class="form-group">
                    <div class="input-group col-sm-8">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                      </div>
                      <input style="height: 50%;" class="form-control" placeholder=" Buscar" type="text">
                      <button style="margin: -3px; height: 40px;" type="button"
                        class="ml-2 btn btn-secondary">BUSCAR</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>

<!-- Page content -->
<div class="card">
  <div class="card-body">

    <!-- Page content -->
    <div class="container-fluid mt--7">
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead style="background-color: #92D050;">
                  <tr class="text-light">
                    <th scope="col"><strong>NOMBRES Y APELLIDOS</strong></th>
                    <th scope="col"><strong>RAZÓN</strong></th>
                    <th scope="col"><strong>SOLICITUD</strong></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Miguel Antony Trejo Llanos
                    </th>
                    <td>Nuevo registro</td>
                    <td>
                      <div style="display: flex;">

                        <button type="button" routerLinkActive="active" [routerLink]="['/solisre']"
                          style="border: white solid; background-color: white; margin-right: 15px;"><i
                            style="font-size: 160%;" class="fa-solid fa-eye"></i></button>

                        
                      </div>
                    </td>

                  </tr>
                  <tr>
                    <th scope="row">Miguel Antony Trejo Llanos
                    </th>
                    <td>Actualización</td>
                    <td>
                      <div style="display: flex;">

                        <button type="button" routerLinkActive="active" [routerLink]="['/solisre']"
                          style="border: white solid; background-color: white; margin-right: 15px;"><i
                            style="font-size: 160%;" class="fa-solid fa-eye"></i></button>

                     
                      </div>
                    </td>

                  </tr>
                  <tr>
                    <th scope="row">Miguel Antony Trejo Llanos
                    </th>
                    <td>Nuevo registro</td>
                    <td>
                      <div style="display: flex;">

                        <button type="button" routerLinkActive="active" [routerLink]="['/solisre']"
                          style="border: white solid; background-color: white; margin-right: 15px;"><i
                            style="font-size: 160%;" class="fa-solid fa-eye"></i></button>

                   
                      </div>
                    </td>

                  </tr>
                  <tr>
                    <th scope="row">Miguel Antony Trejo Llanos
                    </th>
                    <td>Actualización</td>
                    <td>
                      <div style="display: flex;">

                        <button type="button" routerLinkActive="active" [routerLink]="['/solisre']"
                          style="border: white solid; background-color: white; margin-right: 15px;"><i
                            style="font-size: 160%;" class="fa-solid fa-eye"></i></button>

                      
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>