<section class="section" id="requisitos">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div  style="width: 30%; height: 110%;" class="procesos">
        <h2 class="m-2 text-white simple"><b> SOLICITUD RECHAZADA </b></h2>
      </div>
    </div>
    <div style="margin-top: 40px;" class="row">
      <div class="col">
        <div style="margin-left: -15px; width: 92%; height: 97%;" class="mt-3 procesos ">
          <div class="px-2 m-3">
            <table class="display-5 letra text-white table table-borderless">
              <tbody>
                <tr>
                  <div style="margin-top: 35px;" class="row letra2">
                    <div class="col-1">
                      <i class="fs-4 fa-solid fa-circle"></i>
                    </div>
                    <div class="col-9">
                      Solicitud para el registro de nueva y/o actualización de la organización
                    </div>
                    <div class="col-2">
                      <i class="fa-solid fa-eye" style=" font-size: 160%;"></i>
                    </div>
                    
                  </div>
                </tr>
                <tr>
                  <div style="margin-top: 35px;" class="row letra2">
                    <div class="col-1">
                      <i class="fs-4 fa-solid fa-circle"></i>
                    </div>
                    <div class="col-9">
                      Acta de fundación o de constitución
                    </div>
                    <div class="col-2">
                      <i class="fa-solid fa-eye" style=" font-size: 160%;"></i>
                    </div>
                    
                  </div>
                </tr>
                <tr>
                  <div style="margin-top: 45px;" class="row letra2">
                    <div class="col-1">
                      <i class="fs-4 fa-solid fa-circle"></i>
                    </div>
                    <div class="col-9">
                      Estatuto y acta de aprobación
                    </div>
                    <div class="col-2">
                      <i class="fa-solid fa-eye" style=" font-size: 160%;"></i>
                    </div>
                    
                  </div>
                </tr>
                <tr>
                  <div style="margin-top: 45px;" class="row letra2">
                    <div class="col-1">
                      <i class="fs-4 fa-solid fa-circle"></i>
                    </div>
                    <div class="col-9">
                      Acta de elección del orgasmo directivo
                    </div>
                    <div class="col-2">
                      <i class="fa-solid fa-eye" style=" font-size: 160%;"></i>
                    </div>
                    
                  </div>
                </tr>
              </tbody>
            </table>

          </div>

        </div>
        <div style="width: 80%; height: 8%; margin-left: -15px;" class="procesos">
        </div>
      </div>


      <div style="margin-top: 15px;" class="col">
        <div style="width: 87%; height: 8%; margin-left: 84px;" class="procesos">
        </div>
        <div style="height: 90%; width: 94%; margin-left: 47px;" class="mt-4 procesos">
          <div class="px-4 m-3">
            <table class="display-5 letra text-white table table-borderless">
              <tbody>
                <tr>
                  <div style="margin-top: 36px;" class="row letra2">
                    <div class="col-1">
                      <i class="fs-4 fa-solid fa-circle"></i>
                    </div>
                    <div class="col-9">
                      Plano o croquis del radio de acción de la organización
                    </div>
                    <div class="col-2">
                      <i class="fa-solid fa-eye" style=" font-size: 160%;"></i>
                    </div>
                    
                  </div>
                </tr>
                <tr>
                  <div style="margin-top: 45px;" class="row letra2">
                    <div class="col-1">
                      <i class="fs-4 fa-solid fa-circle"></i>
                    </div>
                    <div class="col-9">
                      Nómina de los miembros del órgano directivo
                    </div>
                    <div class="col-2">
                      <i class="fa-solid fa-eye" style=" font-size: 160%;"></i>
                    </div>
                    
                  </div>
                </tr>
                <tr>
                  <div style="margin-top: 45px;" class="row letra2">
                    <div class="col-1">
                      <i class="fs-4 fa-solid fa-circle"></i>
                    </div>
                    <div class="col-9">
                      Nómina de los miembros de la organización social
                    </div>
                    <div class="col-2">
                      <i class="fa-solid fa-eye" style=" font-size: 160%;"></i>
                    </div>
                    
                  </div>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>