.card {
    border-radius: 1.2rem;
}

.letra {
    font-family: sans-serif;
}

.col-tabla {
    background-color: #92d050;
}

.modal-content {
    border-radius: 1.2rem;
}

.bg-default{
    background: #333333 !important;
}