<div class="header pb-7 pt-5 pt-lg-8 align-items-center"
    style="min-height: 210px; background-image: url(https://munichaclacayo.gob.pe/portals/slider/imagenes/1.jpg); background-size: cover; background-position: center top;">
</div>
<div class="letra container mt--9 mb-3">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <div class="card card-profile shadow mb-5">
                <h5 class="m-3 font-weight-bold mb-3 d-flex justify-content-center">
                    NÓMINA DE JUNTA DIRECTIVA</h5>
                <div class="row justify-content-center">
                    <span style="font-size: 8rem;"><i class="fa-solid fa-users"></i></span>
                </div>
                <div class="card-body bg-white">
                    <div class="col-11" style="gap: 1rem;">
                        <div class="row" style="gap: 1rem;">
                            <div class="col-sm-3 row">
                                <div class="p-1">
                                    <strong>FECHA DE GOBIERNO:</strong>
                                </div>
                            </div>
                            <div class="col-sm-3 d-flex">
                                <span class="p-1">Desde:</span>
                                <input type="date" id="input-last-name"
                                    class="form-control form-control-sm form-control-alternative"
                                    placeholder="Fecha de nacimiento">
                            </div>
                            <div class="col-sm-2 d-flex">
                                <span class="p-1">Hasta:</span>
                                <input type="date" id="input-last-name"
                                    class="form-control form-control-sm form-control-alternative"
                                    placeholder="Fecha de nacimiento">
                            </div>
                        </div>
                        <div class="row d-flex mt-2">
                            <div class="col-sm-12 row">
                                <div class="p-1">
                                    <strong>DATOS:</strong>
                                </div>
                                <div class="col-sm-3 ">
                                    <select class="custom-select custom-select-sm ml--3" id="inputdropTOS">
                                        <option selected>CARGO</option>
                                        <option value="1">Presidente(a)</option>
                                        <option value="2">Vicepresidente(a)</option>
                                        <option value="3">Secretario(a)</option>
                                        <option value="4">Tesorero(a)</option>
                                        <option value="5">Vocal</option>
                                    </select>
                                </div>
                                <div class="p-1">
                                    <input type="text" #dni
                                        class="form-control form-control-sm form-control-alternative "
                                        style="font-size: 16px; width: 6rem;" placeholder="DNI">
                                </div>
                                <div class="p-1">
                                    <input type="text" class="form-control form-control-sm form-control-alternative"
                                        style="font-size: 16px; width: 16rem;" placeholder="CORREO">
                                </div>
                                <div class="p-1">
                                    <button type="button" class="font-weight-bold btn btn-success btn-sm col-sm-12"
                                        (click)="onreniec()">AGREGAR</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="table-responsive">
                                <table class="table table-bordered m-3">
                                    <thead class="col-tabla text-white">
                                        <tr>
                                            <th class="text-center" scope="col">CARGO</th>
                                            <th class="text-center" scope="col">NOMBRES</th>
                                            <th class="text-center" scope="col">APELLIDO PATERNO</th>
                                            <th class="text-center" scope="col">APELLIDO MATERNO</th>
                                            <th class="text-center" scope="col">CORREO ELECTRONICO</th>
                                            <th class="text-center" scope="col">DNI</th>
                                            <th class="text-center" scope="col">OPCIONES</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center" style="background-color: #ffffff;" id="sexo">
                                        <tr>
                                            <td>PRESIDENTE(A)</td>
                                            <td>Miguel Angel</td>
                                            <td>Trejo</td>
                                            <td>Guitiérrez</td>
                                            <td>migeul.angel@upeu.edu.pe</td>
                                            <td>75846321</td>
                                            <td class="d-flex justify-content-center">
                                                <i class="fa-solid fa-pen m-2" style="color: black;" data-toggle="modal"
                                                    data-target="#ModalEditar" style="font-size: 160%;"></i>
                                                <i class="fa-solid fa-trash-can m-2" style="font-size: 160%;"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="d-flex justify-content-between m-3 ">
                                <div class="row d-flex justify-content-center mt-2 col-sm-3">
                                    <button type="button" class="font-weight-bold m-2 btn btn-secondary btn-sm "
                                        routerLinkActive="active"
                                        [routerLink]="['/generar-solicitud']">REGRESAR</button>
                                </div>
                                <div class="row d-flex justify-content-center mt-2 col-sm-3">
                                    <button type="button" class="font-weight-bold m-2  btn btn-secondary  btn-sm"
                                        routerLinkActive="active" [routerLink]="['/datos-miembros']">CONTINUAR</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalEditar" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="bg-default modal-content text-white">
        <div class="modal-header justify-content-center align-items-center d-flex">
          <h5 class="modal-title text-light" id="exampleModalLabel">EDITAR JD</h5>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="text-white form-control-label" for="input-last-name">Cargo:</label>
            <select class="custom-select custom-select-sm" id="inputdropTOS">
                <option selected>CARGO</option>
                <option value="1">Presidente(a)</option>
                <option value="2">Vicepresidente(a)</option>
                <option value="3">Secretario(a)</option>
                <option value="4">Tesorero(a)</option>
                <option value="5">Vocal</option>
            </select>
          </div>
          <div class="form-group">
            <label class="text-white form-control-label" for="input-last-name">DNI:</label>
            <input type="email" id="input-last-name" class="form-control form-control-sm form-control-alternative">
          </div>
          <div class="form-group">
            <label class="text-white form-control-label" for="input-last-name">Correo electrónico:</label>
            <input type="email" id="input-last-name" class="form-control form-control-sm form-control-alternative">
          </div>
          <div class="m-3 d-flex justify-content-center">
            <button type="button" class="btn btn-danger col-lg-4 font-weight-bold btn-sm"
              data-dismiss="modal">CANCELAR</button>
            <button type="button" class="btn btn-success col-lg-4 font-weight-bold btn-sm" data-dismiss="modal"
              data-toggle="modal" data-target="#seguroedit">EDITAR</button>
          </div>
        </div>
      </div>
    </div>
  </div>