<div class="header pb-7 pt-5 align-items-center"
    style="min-height: 210px; background-image: url(https://munichaclacayo.gob.pe/portals/slider/imagenes/1.jpg); background-size: cover; background-position: center top;">
</div>
<div class="letra container mt--9 mb-4">
    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow bg-default">
                <h5 class="text-white m-3 font-weight-bold mb-3 d-flex justify-content-center">
                    JUNTA DIRECTIVA</h5>
                <div class="ml-4 text-white row d-flex justify-content-center">
                    <div class="col-lg-3 d-flex">
                        <p class=" mr-2 
                            font-weight-bold">Fecha de gobierno:</p>
                    </div>
                    <div class="col-lg-2 d-flex">
                        <p class="mr-2">Desde</p>
                        <p>05/250/2022</p>
                    </div>
                    <div class="col-lg-2 d-flex">
                        <p class="mr-2">Hasta</p>
                        <p>50/50/2022</p>
                    </div>
                </div>
                <div class="botonesmos justify-content-center">
                    <button type="button" class="col-lg-2 btn btn-sm btn-light m-2 font-weight-bold"
                        routerLinkActive="active" [routerLink]="['/mi-organizacion-social']">MI SOLICITUD</button>
                    <button type="button" class="col-lg-2 btn btn-sm btn-light m-2 font-weight-bold"
                        routerLinkActive="active" [routerLink]="['/mosjd']">JUNTA DIRECTIVA</button>
                    <button type="button" class="col-lg-2 btn btn-sm btn-light m-2 font-weight-bold"
                        routerLinkActive="active" [routerLink]="['/mosmiembros']">MIEMBROS</button>
                    <button type="button" class="col-lg-2 btn btn-sm btn-light m-2 font-weight-bold"
                        routerLinkActive="active" [routerLink]="['/mosdocumentos']">DOCUMENTOS</button>
                </div>
                <div class="table-responsive m-3">
                    <table class="table table-bordered">
                        <thead class="col-tabla text-white">
                            <tr>
                                <th class="text-center letra2" scope="col">NOMBRES</th>
                                <th class="text-center letra2" scope="col">CARGO</th>
                                <th class="text-center letra2" scope="col">APELLIDO PATERNO</th>
                                <th class="text-center letra2" scope="col">APELLIDO MATERNO</th>
                                <th class="text-center letra2" scope="col">CORREO ELECTRÓNICO</th>
                                <th class="text-center letra2" scope="col">DNI</th>
                            </tr>
                        </thead>
                        <tbody class="text-center" style="background-color: #ffffff;">
                            <tr>
                                <td>PRESIDENTE(A)</td>
                                <td>Miguel Angel</td>
                                <td>Trejo</td>
                                <td>Guitiérrez</td>
                                <td>migeul.angel@upeu.edu.pe</td>
                                <td>75846321</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>