<div class="header pb-7 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 250px; background-image: url(https://munichaclacayo.gob.pe/portals/slider/imagenes/1.jpg); background-size: cover;">
  <!-- Mask -->
  <div style="margin-top:-65px;" class="row">
    <div class="col-sm-12">
      <div class="container" style="margin-top: 70px;">
        <div class="header-body">
          <div class="container-sm">

            <div class="row ml-4 ">
              <div>
                <button style="background-color: #92D050; color: white;" type="button"
                  class="btn btn ml-1 col-sm-12" data-dismiss="modal" data-toggle="modal"
                  data-target="#agregar">CREAR NUEVO REQUISITO</button>
              </div>

            </div>


          </div>

        </div>
      </div>
    </div>
  </div>



</div>

<div class="card" style="margin-top: -30px;">
  <div class="card-body">

    <div class="container-fluid mt--7">
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead style="background-color: #92D050;">
                  <tr class="text-light" style="text-align: center;">
                    <th scope="col"><strong>NOMBRE DE LOS REQUISITOS</strong></th>
                    <th scope="col"><strong>FORMATOS</strong></th>
                    <th scope="col"><strong>OPCIONES</strong></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Solicitud para el nuevo registro/actualización de la organización</th>
                    <td class="text-center">
                      <i class="fa-solid fa-eye" style="font-size: 160%;"></i>
                    </td>

                    <td class="justify-content-center align-items-center d-flex">
                      <div>

                        <button type="button" routerLinkActive="active" data-toggle="modal" data-target="#editar"
                          style="border: white solid; background-color: white;"><i style="font-size: 160%;"
                            class="fa-solid fa-pen"></i>
                        </button>
                        <button type="button" routerLinkActive="active" data-toggle="modal" data-target="#eliminar"
                          style="border: white solid; background-color: white;"><i style="font-size: 160%;"
                            class="fa-solid fa-trash-can"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Acta de fundación o de constitución</th>
                    <td class="text-center">
                      <i class="fa-solid fa-eye" style="font-size: 160%;"></i>
                    </td>

                    <td class="justify-content-center align-items-center d-flex">
                      <div>

                        <button type="button" routerLinkActive="active" data-toggle="modal" data-target="#editar"
                          style="border: white solid; background-color: white;"><i style="font-size: 160%;"
                            class="fa-solid fa-pen"></i>
                        </button>
                        <button type="button" routerLinkActive="active" data-toggle="modal" data-target="#eliminar"
                          style="border: white solid; background-color: white;"><i style="font-size: 160%;"
                            class="fa-solid fa-trash-can"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Estatuto y acta de aprobación</th>
                    <td class="text-center">
                      <i class="fa-solid fa-eye" style="font-size: 160%;"></i>
                    </td>

                    <td class="justify-content-center align-items-center d-flex">
                      <div>

                        <button type="button" routerLinkActive="active" data-toggle="modal" data-target="#editar"
                          style="border: white solid; background-color: white;"><i style="font-size: 160%;"
                            class="fa-solid fa-pen"></i>
                        </button>
                        <button type="button" routerLinkActive="active" data-toggle="modal" data-target="#eliminar"
                          style="border: white solid; background-color: white;"><i style="font-size: 160%;"
                            class="fa-solid fa-trash-can"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Acta de elección del Órgano directivo</th>
                    <td class="text-center">
                      <i class="fa-solid fa-eye" style="font-size: 160%;"></i>
                    </td>

                    <td class="justify-content-center align-items-center d-flex">
                      <div>

                        <button type="button" routerLinkActive="active" data-toggle="modal" data-target="#editar"
                          style="border: white solid; background-color: white;"><i style="font-size: 160%;"
                            class="fa-solid fa-pen"></i>
                        </button>
                        <button type="button" routerLinkActive="active" data-toggle="modal" data-target="#eliminar"
                          style="border: white solid; background-color: white;"><i style="font-size: 160%;"
                            class="fa-solid fa-trash-can"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Plano o croquis referencial de la ubicación del local</th>
                    <td class="text-center">
                      <i class="fa-solid fa-eye" style="font-size: 160%;"></i>
                    </td>

                    <td class="justify-content-center align-items-center d-flex">
                      <div>

                        <button type="button" routerLinkActive="active" data-toggle="modal" data-target="#editar"
                          style="border: white solid; background-color: white;"><i style="font-size: 160%;"
                            class="fa-solid fa-pen"></i>
                        </button>
                        <button type="button" routerLinkActive="active" data-toggle="modal" data-target="#eliminar"
                          style="border: white solid; background-color: white;"><i style="font-size: 160%;"
                            class="fa-solid fa-trash-can"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Nómina de los miembros del Órgano directivo</th>
                    <td class="text-center">
                      <i class="fa-solid fa-eye" style="font-size: 160%;"></i>
                    </td>

                    <td class="justify-content-center align-items-center d-flex">
                      <div>

                        <button type="button" routerLinkActive="active" data-toggle="modal" data-target="#editar"
                          style="border: white solid; background-color: white;"><i style="font-size: 160%;"
                            class="fa-solid fa-pen"></i>
                        </button>
                        <button type="button" routerLinkActive="active" data-toggle="modal" data-target="#eliminar"
                          style="border: white solid; background-color: white;"><i style="font-size: 160%;"
                            class="fa-solid fa-trash-can"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Nómina de los miembros de la Organización social</th>
                    <td class="text-center">
                      <i class="fa-solid fa-eye" style="font-size: 160%;"></i>
                    </td>

                    <td class="justify-content-center align-items-center d-flex">
                      <div>

                        <button type="button" routerLinkActive="active" data-toggle="modal" data-target="#editar"
                          style="border: white solid; background-color: white;"><i style="font-size: 160%;"
                            class="fa-solid fa-pen"></i>
                        </button>
                        <button type="button" routerLinkActive="active" data-toggle="modal" data-target="#eliminar"
                          style="border: white solid; background-color: white;"><i style="font-size: 160%;"
                            class="fa-solid fa-trash-can"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  

                </tbody>
              </table>
            </div>


          </div>


        </div>
      </div>

    </div>
  </div>
</div>


<div style="margin-top: 9%;" class="modal fade" id="agregar" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div style="opacity: 90%; background-color: black ; border:2px white solid; border-radius: 20px;"
      class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-light justify-content-center align-items-center d-flex" id="exampleModalLabel">CREA UN NUEVO REQUISITO</h5>
      </div>
      <div style="border-radius: 20px;" class="modal-body">
        <div class="modal-title text-light" id="exampleModalLabel">NOMBRE:</div>
        <div style="opacity: 100%; " class="form-group">
          <input style="margin-top: 5px;" type="text" placeholder="ingrese el nombre" class="form-control"
            id="recipient-name">
        </div>
        <div style="color: white;" class="modal-title" id="exampleModalLabel">FORMARO A SUBIR:</div>
        <form>
          <div class="form-group bg-warning mt-2">
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
          </div>
        </form>
        <div class="mt-2" style="text-align: center;">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal"
            data-target="#seguro">Crear</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin-top: 9%;" class="modal fade" id="editar" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div style="opacity: 90%; background-color: black ; border:2px white solid; border-radius: 20px;"
      class="modal-content">
      <div class="modal-header justify-content-center align-items-center d-flex">
        <h5 class="modal-title text-light" id="exampleModalLabel">EDITA UN REQUISITO</h5>
      </div>
      <div style="border-radius: 20px;" class="modal-body">
        <div class="modal-title text-light" id="exampleModalLabel">NOMBRE:</div>
        <div style="opacity: 100%; " class="form-group">
          <input style="margin-top: 5px;" type="text" placeholder="ingrese el nombre" class="form-control"
            id="recipient-name">
        </div>
        <div style="color: white;" class="modal-title" id="exampleModalLabel">FORMARO A SUBIR:</div>
        <form>
          <div class="form-group bg-warning mt-2">
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
          </div>
        </form>
        <div style="text-align: center;">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal"
            data-target="#seguroedit">Editar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin-top: 12%;" class="modal fade" id="eliminar" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div style="opacity: 90%; background-color: black ; border:2px white solid; border-radius: 20px;"
      class="modal-content">
      <div style="border-radius: 20px;" class="modal-body ">
        <h5 style="color: white;" class="modal-title justify-content-center align-items-center d-flex" id="exampleModalLabel">¿ESTÁ SEGURO DE ELIMINAR ESTE REQUISITO?</h5>
       
        <div class="justify-content-center align-items-center d-flex" style="text-align: right; margin-top: 10px;">
          <button type="button" class="btn btn-danger " data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal"
          data-target="#seguroelim">Estoy seguro</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin-top: 12%;" class="modal fade" id="seguro" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div style="opacity: 90%; background-color: black ; border:2px white solid; border-radius: 20px;"
      class="modal-content">
      <div style="border-radius: 20px;" class="modal-body justify-content-center">
        <div class="row">
          <div class="col-sm-4 justify-content-center align-items-center d-flex">
            <img style="width: 140px; height: 120px;" src="./assets/img/landing/icon muni.png" alt="">
          </div>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-12">
                <img style="width: 100%;" src="./assets/img/landing/raya.png" alt="">
              </div>
              <div class="col-sm-12">
                <div class="text-light" style="font-size: 23px; text-align: center;">¡Nuevo requisito creado de manera
                  exitosa!</div>

              </div>
              <div class="col-sm-12">
                <img style="width: 100%;" src="./assets/img/landing/raya.png" alt="">
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin-top: 12%;" class="modal fade" id="seguroelim" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div style="opacity: 90%; background-color: black ; border:2px white solid; border-radius: 20px;"
      class="modal-content">
      <div style="border-radius: 20px;" class="modal-body justify-content-center">
        <div class="row">
          <div class="col-sm-4 justify-content-center align-items-center d-flex">
            <img style="width: 140px; height: 120px;" src="./assets/img/landing/icon muni.png" alt="">
          </div>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-12">
                <img style="width: 100%;" src="./assets/img/landing/raya.png" alt="">
              </div>
              <div class="col-sm-12">
                <div class="text-light" style="font-size: 23px; text-align: center;">¡Requisito eliminado de manera
                  exitosa!</div>

              </div>
              <div class="col-sm-12">
                <img style="width: 100%;" src="./assets/img/landing/raya.png" alt="">
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="margin-top: 12%;" class="modal fade" id="seguroedit" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div style="opacity: 90%; background-color: black ; border:2px white solid; border-radius: 20px;"
      class="modal-content">
      <div style="border-radius: 20px;" class="modal-body justify-content-center">
        <div class="row">
          <div class="col-sm-4 justify-content-center align-items-center d-flex">
            <img style="width: 140px; height: 120px;" src="./assets/img/landing/icon muni.png" alt="">
          </div>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-12">
                <img style="width: 100%;" src="./assets/img/landing/raya.png" alt="">
              </div>
              <div class="col-sm-12">
                <div class="text-light" style="font-size: 23px; text-align: center;">¡Requisito editado de manera
                  exitosa!</div>

              </div> 
              <div class="col-sm-12">
                <img style="width: 100%;" src="./assets/img/landing/raya.png" alt="">
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>